
# parsed and then tweaked from https://github.com/LOWPROKB/zmk-config-zen-2/blob/main/config/corneish_zen.keymap
# then parsed and tewaked from: https://keymap-drawer.streamlit.app/?example_yaml=corneish_zen.yaml
#layout:
  qmk_keyboard: corne_rotated
  qmk_layout: LAYOUT_split_3x6_3
layers:
  QWERTY:
    - ["Tab", "Q", "W", "E", "R", "T", "Y", "U", "I", "O", "P", "Å"]
    - ["LShft", "A", "S", "D", "F", "G", "H", "J", "K", "L", "Æ", "Ø"]
    - ["LCtrl", "Z", "X", "C", "V", "B", "N", "M", ",", ".", "Bspace", "Esc"]
    - ["LGui", "Number", "Space", "Enter", "Symbol", "RAlt"]
  NUMBER:
    - [null, "1", "2", "3", "4", "5", "6", "7", "8", "9", "0", null]
    - ["F1", "F2", "F3", "F4", "F5", "F6", "Left", "Down", "Up", "Right", "PRTSC", "DEL"]
    - ["F7", "F8", "F9", "F10", "F11", "F12", null, null, null, null, "Bspace", null]
    - ["LGui", {type: held}, "Space", "Enter", null, "RAlt"]
  SYMBOL:
    - [null, "!", "@", "#", "$", "%", "&", "^", "(", ")", "*", "Bspace"]
    - [null, "½", "\"", null, "/", "\\", "-", "=", "[", "]", "'", "`"]
    - [null, "Prev", "Play", "Next", "Mute", null, "_", "+", "{", "}", "|", "~"]
    - ["LGui", null, "Space", "Enter", {type: held}, "RAlt"]
  
